*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    height: 70px;
    width: 270px;
    margin-right: 48px;
    border-radius: 20px;
}
.nav-item{
    margin-right: 16px;
}
.row{
    margin-top: 150px;
    
}
h1{
    width: 60%;
margin-left: 25%;
word-spacing: 3px;
}
h5{
    font-family: sans-serif;
    margin-top: 20px;
    width: 60%;
    margin-left: 25%;
 word-spacing: 3px;
}
.heroimage{
    width: 70%;
}
.herobtn{
    margin-top: 20px;
    width: 60%;
    margin-left: 25%;
    height: 70px;
    width: 270px;
    margin-right: 48px;
    border-radius: 20px;
    background: black;
    color: white;
   
}
p{
    text-align: center;
    justify-content: center;

}











